.footer {
  background: #1E1E1E;
}
.footer-container-top {
  max-width: 1340px;
  padding: 40px;
  gap: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #515151
}
.footer-left {
  display: flex;
  max-width: 800px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.footer-nav a:hover {
  color: white;
}

.footer-icons {
  max-width: 230px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-icon {
  width: 35px;
  height: 35px;
}

.footer-container-bottom {
  max-width: 1340px;
  padding: 40px;
  margin: 0 auto;
}
