.normal {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semiBold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.text-xs {
  font-size: 18px;
  color: #020202;
}

.text-s {
  font-size: 20px;
  color: #020202;
}

.text-sm {
  font-size: 24px;
  color: #020202;
}

.text-m{
  font-size: 26px;
  color: #020202;
}

.gray{
  color: #515151;
}

.white{
  color: #fafafa;
}
.black{
  color: #020202;
}

.lightGray{
  color: #CACACA;
}

.title{
  font-size: 46px;
  font-weight: 700;
}

.sections-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  max-width: 740px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.titleSection {
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #020202;
}

.subTitleSections {
  font-size: 26px;
  font-weight: 400;
  line-height: 31.69px;
  color: #515151;
  padding-bottom: 10px;
}
