.header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #51515133;
  background: #FAFAFA;
  z-index: 3;
}
.header-container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container-mobile{
  max-width: 1340px;
  margin: 0 auto;
  padding: 20px;
  display: none;
  align-items: center;
  justify-content: space-between;
}
.header-container-row {
  display: flex;
  align-items: center;
  max-width: 885px;
  width: 100%;
  justify-content: space-between;
}
/* .header-logo {} */
.header-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-nav-link {
  padding: 6px 16px;
  color: #020202;
}
.header-nav-link:hover {
  opacity: 0.7;
}
.header-button {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #020202;
  border: 2px solid #020202;
  padding: 16px 20px;
  border-radius: 10px;
}

.header-button:hover {
  opacity: 0.6;
}

.custom-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.custom-line {
  height: 3px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.custom-burger.active .custom-line:nth-child(1) {
  /* width: 35px; */
  transform: translateY(12px) rotate(45deg);
}

.custom-burger.active .custom-line:nth-child(2) {
  opacity: 0;
}

.custom-burger.active .custom-line:nth-child(3) {
  /* width: 35px; */
  transform: translateY(-9px) rotate(-45deg);
}
