.hero {
  max-width: 1340px;
  margin: 0 auto;
  padding: 170px 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.mobile-hero{
  display: none;
}
.uniq{
  width: 310px;
  height: 200px;
  background-image: url(/images/hero/uniqueness.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.interface{
  width: 260px;
  height: 270px;
  background-image: url(/images/hero/interface.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 640px;
}
.hero-text-top {
  font-size: 28px;
  color: #515151;
  padding-bottom: 12px;
}
.hero-title {
  font-size: 76px;
}
.hero-subtitle {
  text-transform: uppercase;
  font-size: 46px;
  line-height: 56px;
}
.hero-text-info {
  padding-top: 20px;
  font-size: 26px;
  line-height: 30px;
}
.hero-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.hero-button {
  align-content: center;
  padding: 13px 30px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  border-radius: 10px;
}

.hero-button:hover {
  opacity: 0.9;
}

.disc {
  color: #fafafa;
  background: #861a0e;
}

.learnMore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #020202;
  border: 2px solid #020202;
}

.hero-images {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-images-flex {
  max-width: 530px;
  justify-content: space-between;
  display: flex;
  gap: 10px;
}
.hero-images-flex-block {
  font-size: 24px;
  color: #fafafa;
  padding: 20px;
  border-radius: 20px;
  background: #020202;
}
