@media only screen and (max-width: 1235px) {
  .hero-images-flex {
    max-width: 500px;
    display: flex;
    gap: 10px;
  }

  .interface {
    width: 220px;
    height: 225px;
    /* background-image: url(/images/hero/interface-mobile.png); */
  }
  .hero-images-flex-block {
    font-size: 20px;
    color: #fafafa;
    padding: 20px;
    border-radius: 20px;
    background: #020202;
  }
  .hero-text-top {
    font-size: 24px;
    color: #515151;
    padding-bottom: 12px;
  }
  .hero-button {
    align-content: center;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 29.26px;
    border-radius: 10px;
  }
  .hero-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }

  .uniq {
    width: 270px;
    height: 170px;
    /* background-image: url(/images/hero/uniqueness-block.png); */
    background-size: contain;
    background-repeat: no-repeat;
  }
  .hero-title {
    font-size: 56px;
  }
  .hero-subtitle {
    text-transform: uppercase;
    font-size: 28px;
    line-height: 35px;
  }
  .hero-text-info {
    padding-top: 20px;
    font-size: 22px;
    line-height: 30px;
  }
  .header-container-row {
    max-width: 810px;
  }
}
@media only screen and (max-width: 1140px) {
  .header-container-row img {
    max-width: 100px;
  }
  .header-container-row {
    max-width: 690px;
  }
  .services-tabs-content-top-block {
    max-width: 340px;
    width: 100%;
    gap: 15px;
  }
  .services-tabs-content-block {
    max-width: 340px;
    width: 100%;
    gap: 15px;
  }
  .accordeon-item {
    padding: 10px 15px;
  }
  .contacts-info-row {
    gap: 12px;
  }
  .margin-top {
    margin-top: 10px;
  }
  .contacts-info-main {
    gap: 20px;
  }
  .title {
    font-size: 26px;
  }
  .text-s {
    font-size: 16px;
  }
  .text-m {
    font-size: 20px;
  }
  .text-sm {
    font-size: 16px;
  }
  .contacts-info-top {
    gap: 8px;
    margin-bottom: 20px;
  }
  .footer-left {
    gap: 40px;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-container-top {
    align-items: baseline;
  }
  .footer-nav {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  form {
    gap: 10px;
  }
  .form {
    font-size: 16px;
  }
  .contacts-info {
    padding: 40px 40px;
  }
}

@media only screen and (max-width: 1100px) {
  .slides {
    margin: 20px auto 40px;
  }
  .portfolio {
    max-width: 1340px;
    margin: 0 auto;
    padding: 70px 20px 100px;
  }
  .portfolio-slide-block-title {
    font-size: 24px;
    color: #861a0e;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .portfolio-slide-block-subtitle {
    font-size: 18px;
  }
  .testimonial-slide {
    justify-content: center;
  }
  .controls-testimonials-slides {
    max-width: 860px;
  }
  .testimonials-slides {
    margin: 20px auto 40px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-button {
    gap: 10px;
    padding: 12px 15px;
  }

  .uniq {
    width: 235px;
    height: 156px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .interface {
    width: 185px;
    height: 200px;
    /* background-image: url(/images/hero/interface-mobile.png); */
  }
  .statistics {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-between;
  }

  .services-tab-title {
    font-size: 18px;
    padding: 12px;
    max-width: 250px;
  }
  .services-tabs-content-top-block {
    max-width: 100%;
  }
  .services-tabs-content-top {
    flex-direction: column;
  }
  .services-tabs-content-main {
    flex-direction: column;
  }

  .services-tabs-content-block {
    max-width: 100%;
  }
  .services {
    padding: 30px;
  }
  .stages {
    padding: 100px 0px 20px;
  }
  .stages-container {
    padding: 30px 20px;
    border-radius: 0px;
  }
  .contacts-form {
    max-width: 100%;
  }
  .contacts-info {
    max-width: 100%;
  }
  .forms-row {
    gap: 10px;
    flex-direction: column;
  }
  .QA {
    padding: 0px;
  }
  .QA-container {
    border-radius: 0;
    padding: 30px;
  }
  .form-container.double {
    max-width: 100%;
  }
  .contact {
    max-width: 1420px;
    padding: 40px 30px 60px;
    justify-content: center;
    gap: 20px;
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media only screen and (max-width: 940px) {
  .header-container-row {
    max-width: 650px;
  }
  .header-nav-link {
    padding: 6px 10px;
    color: #020202;
  }
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  .hero-images {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .header-logo {
    width: 100px;
  }
  .hero {
    padding: 110px 20px 80px;
  }

  .header-container-mobile {
    display: flex;
  }

  .header-container {
    display: none;
  }

  .sections-title {
    padding-bottom: 20px;
  }
  .testimonials {
    padding: 100px 30px 100px;
  }
  .testimonial-slide-text {
    font-size: 18px;
  }
  .testimonial-slide-title {
    font-size: 22px;
  }
  .slide-block-top {
    gap: 10px;
    padding-bottom: 6px;
  }
  .stages-blocks {
    flex-direction: column;
  }
  .stages-block {
    max-width: 100%;
    margin-top: 10px;
  }
  .advantages-block {
    max-width: 100%;
  }
  .stage-title {
    font-size: 40px;
  }
  .stage-subtitle {
    font-size: 20px;
  }
  .text-m.white.semiBold {
    font-size: 18px;
  }
}
@media only screen and (max-width: 665px) {
  .mobile-hero {
    display: block;
  }
  .hero-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }

  .hero-button {
    border-radius: 5px;
  }
  .hero-buttons {
    flex-direction: column;
  }

  .hero-button {
    text-align: center;
  }

  .learnMore {
    display: flex;
    justify-content: center;
  }

  .statistics-block-title {
    font-size: 24px;
  }
  .statistics-block-subtitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 26.82px;
    color: #020202;
  }
  .statistics-flex-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
  .statistics {
    align-items: center;
    padding-bottom: 0;
  }
  .testimonials {
    padding: 100px 20px 100px;
  }

  .controls-testimonials-slides {
    max-width: 420px;
  }

  .titleSection {
    font-size: 38px;
  }
  .subTitleSections {
    font-size: 20px;
    line-height: 19px;
  }

  .advantages-block {
    max-width: 100%;
  }
  .accordeon {
    flex-direction: column;
  }

  .stages-container-top img {
    display: none;
  }

  .footer {
    padding: 0 30px;
  }

  .testimonial-slide-block {
    min-height: 300px;
  }

  .portfolio-slide-block {
    min-height: 456px;
  }

  .footer-container-top {
    flex-direction: column;
    border-bottom: none;
    padding: 40px 0px 0px;
  }
  .footer-logo {
    width: 100%;
    border-bottom: 1px solid #515151;
    padding-bottom: 30px;
  }
  .text-sm {
    font-size: 16px;
  }
  .footer-icons {
    max-width: 100%;
    width: 100%;
    border-bottom: 1px solid #515151;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .sliding-menu {
    top: 81px;
  }
  .header-logo {
    width: 80px;
    height: 40px;
  }
  .mobile-hero {
    display: block;
  }
  .subTitleSections {
    font-size: 16px;
    line-height: 19px;
  }
  .QA-container {
    padding: 40px 15px;
  }

  .stage-title {
    font-size: 38px;
    line-height: 45px;
  }
  .stage-subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .hero-title {
    font-size: 38px;
  }

  .hero-subtitle {
    font-size: 22px;
    line-height: 28px;
  }

  .hero-text-info {
    line-height: 25px;
  }

  .accordeon {
    margin-top: 20px;
    gap: 10px;
  }

  .accordeon-column {
    gap: 10px;
  }

  .contact {
    padding: 40px 0px 60px;
    gap: 60px;
  }
  .contacts-info {
    border-radius: 0;
  }
  .contacts-form {
    border-radius: 0;
    border: 0;
  }
}

@media only screen and (max-width: 400px) {
}
