.services {
  background-color: #f4f4f4;
  padding: 40px;
}
.services-container {
  max-width: 1340px;
  margin: 0 auto;
}

.services-tabs-titles {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.services-tab-title {
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 18px;
  max-width: 300px;
  width: 100%;
  cursor: pointer;
}

.services-tab-title.active {
  background-color: #861a0e;
  color: #fafafa;
}

.services-tabs-content {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.services-tabs-content.active {
  visibility: visible;
  opacity: 1;
  display: block;
}

.services-tabs-content-top {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 40px;
}
.services-tabs-content-top-block {
  max-width: 430px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #0202021a;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services-tabs-content-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding: 40px 0;
}

.services-tabs-content-main {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.services-tabs-content-block {
  max-width: 430px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #0202021a;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grayBlock{
  background: #5151510D;
}
.darkGrayBlock{
  background: #0202021A;
}

.lightBlackBlock{
  background: #020202B2;
}