.statistics {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px 40px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.statistics-block {
  max-width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.statistics-block-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  color: #861a0e;
}
.statistics-block-subtitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 26.82px;
  color: #020202;
}
.line {
  width: 24px;
  height: 3px;
  border-radius: 10px;
  background-color: #861a0e;
  margin-top: 10px;
}
